.root {
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 1400;
    padding: 0.5em 1em;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    backdrop-filter: blur(4px);
    pointer-events: none;
}

.text {
    font-weight: bold;
}
