.root {
	display: inline-flex;
	align-items: center;
	cursor: pointer;
	gap: 0.5rem;
	margin: 0;
}

.disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.label {
	font-size: 0.875rem;
	color: var(--text-color);
	user-select: none;
}
