.root {
    padding: 1rem;
    border: 3px solid var(--border-color);
    border-radius: 12px;
}

.itemWrapper {
    position: relative;
    padding-right: 48px;
}

.item {
    line-height: 3;
    font-size: 1.4rem;
}

.copyButton {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.badge {
    pointer-events: none;
    cursor: default;
}