.separator {
    border-bottom: 3px solid var(--divider);
    padding-bottom: 4em;
    margin-bottom: 0;
    position: relative;

    @media (prefers-color-scheme: dark) {
        border-bottom-color: rgba(255, 255, 255, 0.2);
    }
}
