.root {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.title {
    font-size: 1em;
    font-weight: 700;
    color: var(--primary-600);
    border-bottom: 2px solid var(--border-color);
    padding: 0.5em;
    border-radius: 8px;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.15;
    top: 0;
    left: 0;
}

.items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 0.5em;
}