.root {
	box-sizing: border-box;
	display: block;
	position: relative;

	[dir="ltr"] & {
		direction: ltr !important;
	}

	[dir="rtl"] & {
		direction: rtl !important;
	}
}

.root.fill {
	width: 100%;
	height: 100%;
	min-height: 100%;
	align-self: stretch;
}

.background {
	position: absolute;
	inset: 0;

	display: flex;
	align-items: center;
	height: 100%;
	width: 100%;
	flex: 1;
	overflow: hidden;
}

.background.clickable {
	user-select: none;
	cursor: pointer;
}

.background.clickable:hover {
	background: var(--info-background) !important;
}

.icons {
	position: absolute;
	top: 0;
	bottom: 0;
	pointer-events: none;

	[dir="ltr"] & {
		left: 0px;
	}

	[dir="rtl"] & {
		right: 0px;
	}

	display: flex;
	align-items: center;
	background: transparent;
}

.icons > * {
	pointer-events: auto;
	margin-left: 0.3em;
	margin-right: 0.3em;
}
