.root {
    display: flex;
    flex-direction: column;
}

.root:not(.last) {
    [dir=ltr] & {
        margin-right: 0.25em;
    }

    [dir=rtl] & {
        margin-left: 0.25em;
    }
}

.sessions {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 0.25rem;
}

.sessions.mobile {
    flex-direction: row;
    gap: 0.25rem;
}