.root {
    display: flex;
    flex-direction: column;
    border-left: 1px solid transparent;
    border-top: 1px solid transparent;
    border-bottom: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
}

.sessions {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 1;
}

.session {
    color: var(--text-color);
}