.root {
    display: flex;
    border-bottom: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    color: var(--info-color);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: sticky;
    background-color: var(--info-background);
    z-index: 1;
}

.root.mobile {
    left: 0;
}

.root:not(.mobile) {
    top: 0;
    min-width: 12em;
}

.root *:not(:last-child) {
    margin-bottom: 0.5em;
}

.day {
    font-weight: bold;
}

.root.today {
    border-bottom: 1px solid var(--info-color);
}