.root {
    display: flex;
    border-bottom: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    color: var(--text-color);
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.root *:not(:last-child) {
    margin-bottom: 0.5em;
}

.day {
    font-weight: bold;
}

.root.today {
    border-bottom: 1px solid var(--info-color);
}