.root {
    display: flex;
    color: var(--info-color);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: sticky;
    background-color: var(--info-background);
    z-index: 1;
    border-radius: 0.5em 0.5em 0 0;
    margin-bottom: 0.25em;
}

.root:not(.last) {
    [dir=ltr] & {
        margin-right: 0.25em;
    }

    [dir=rtl] & {
        margin-left: 0.25em;
    }
}

.root.mobile {
    left: 0;
    border-bottom: 1px solid var(--border-color);
}

.root:not(.mobile) {
    top: 0;
    min-width: 12em;
}

.root *:not(:last-child) {
    margin-bottom: 0.5em;
}

.day {
    font-weight: bold;
}

.root.today {
    color: var(--info-background);
    background-color: var(--info-color);
    border-bottom: 1px solid var(--info-color);
}