.root {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    border-right: 1px solid transparent;
    border-bottom: 1px solid var(--border-color);
}

.root.mobile {
    border-right: 1px solid var(--border-color);
    border-bottom: 1px solid transparent;
}

.media {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.group {
    color: var(--text-color);
    font-weight: bold;
    justify-content: center;
    display: flex;
}

.container {
    display: flex;
    margin-bottom: 0.5em;
    justify-content: center;
}

.name {
    width: 10em;
    color: var(--text-color);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 0;
    text-align: center;
}