.root {
    display: flex;
    flex-direction: column;
    border: 1px solid transparent;
    background: var(--background);
    font: inherit;
    align-items: center;
    justify-content: center;
    min-height: 7em;
    color: var(--text-color);
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    margin: 4px;
    box-shadow: 0 1px 3px var(--box-shadow-color);
    transition: all 0.2s ease;
}

.root.mobile {
    margin: 3px;
    min-height: 5.5em;
}

.root:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 6px var(--box-shadow-color);
    z-index: 1;
}

.root:hover:active {
    background-color: var(--hover-fill);
    color: var(--hover-text-color);
}

.media {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.group {
    font-weight: bold;
    justify-content: center;
    display: flex;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.name {
    min-width: 0;
    text-align: center;
    padding-right: 1em;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 1.3;
}

.name.mobile {
    width: 12em;
    min-width: unset;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.15;
}

.backgroundBorder {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 2px;
    opacity: 0.3;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 4px;
    margin-top: 4px;
    opacity: 0.8;
    margin: 0.5em;
}