.item.selected {
    box-shadow: 1px 1px 4px 1px var(--selected-color);
}

.item.active {
    box-shadow: 1px 1px 4px 1px var(--active-color);
}

.divider {
    margin-left: 0.4em !important;
    margin-right: 0.4em !important;
}

.hidden {
    visibility: hidden;
    margin-left: 0.1em !important;
    margin-right: 0.1em !important;
}