.root {
	display: flex;
	flex-direction: column;
}

.searchContainer {
	padding: 0.5rem 0.75rem;
	flex-shrink: 0;
}

.filterInput input {
	font-size: 0.85rem;
}

.treeContainer {
	flex: 1;
}

.treeList {
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 24px;
}

.clearButton {
	margin-right: -4px;
}
