.root {
    position: absolute !important;

    [dir=rtl] & {
        left: 2.5em;
        bottom: 2.5em;
    }

    [dir=ltr] & {
        right: 2.5em;
        bottom: 2.5em;
    }

    display: none !important;
}

.visible {
    display: flex !important;
}