.root {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
}

.group {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    align-items: flex-start;
    align-content: flex-start;
    margin: 1em;
}

.item {
    display: flex;
    min-width: 300px;
}

.form>*:not(:last-child) {
    margin-bottom: 1em;
}

.group>*:not(:last-child) {
    [dir=rtl] & {
        margin-left: 1em;
    }

    [dir=ltr] & {
        margin-right: 1em;
    }
}

.actions {
    display: flex;
    margin: 2em;
    flex-direction: row-reverse;
}