.root svg {
    top: calc(50% - 0.45em);
    right: 0.1em;
}

.root:focus svg {
    background-color: rgba(0, 0, 0, 0.5);
}

.select div {
    padding-right: 2em !important;
}

.input {
    padding-left: 0.4em !important;
    padding-right: 0.4em !important;
}

.input div {
    cursor: default;
    padding-left: 0.3em !important;
    padding-right: 0.3em !important;
    margin-right: 0.2em !important;
}

.input input {
    [dir=ltr] & {
        padding-left: 0em !important;
        padding-right: 2em !important;
    }

    [dir=rtl] & {
        padding-left: 2em !important;
        padding-right: 0.1em !important;
    }
}