.root svg {
    top: calc(50% - 0.45em);

    [dir=ltr] & {
        right: 0.2em;
    }

    [dir=rtl] & {
        left: 0.2em;
        right: initial;
    }
}

.root:focus svg {
    background-color: rgba(0, 0, 0, 0.5);
}

.select div {
    [dir=ltr] & {
        padding-left: 0.5em !important;
        padding-right: 0.5em !important;
    }

    [dir=rtl] & {
        padding-left: 0.5em !important;
        padding-right: 0.5em !important;
    }
}

.input div {
    cursor: default;
}

.input input {
    [dir=ltr] & {
        padding-left: 0.5em !important;
        padding-right: 0.5em !important;
    }

    [dir=rtl] & {
        padding-left: 0.5em !important;
        padding-right: 0.5em !important;
    }
}