.root {
    display: flex;
    align-items: center;
    border-radius: 8px;
    border: 1px solid transparent;
}

.root.button {
    border: var(--border);
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

.root.button:hover {
    border: var(--border-highlight);
}

.root>* {
    [dir=rtl] & {
        margin-left: 0.5em;
    }

    [dir=ltr] & {
        margin-right: 0.5em;
    }
}