.root {
    display: flex;
    padding: 0px !important;
    flex-direction: column;
}

.iconContainer {
    font-size: 24px !important;
}

.itemLabel {
    color: var(--text-color);

    [dir=rtl] & {
        text-align: right;
    }
}

.expandIcon {
    color: var(--text-color);
}

.reverse {
    flex-direction: column-reverse;
}