.background {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    margin-left: -16px;
    margin-right: -16px;
}

.backgroundBorder {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 2px;
    opacity: 0.3;
    margin-left: -16px;
    margin-right: -16px;
}

.itemText {
    max-width: 500px;
    overflow: hidden;
    min-width: 0;
}

.itemText span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}