.root {
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background-color: var(--main-background);
}

.root>* {
    [dir=rtl] & {
        margin-left: 0.5em;
    }

    [dir=ltr] & {
        margin-right: 0.5em;
    }
}

.animated {
    animation: spin 4s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}