.root {
    box-sizing: border-box;
    display: flex;
    position: relative;

    [dir=ltr] & {
        direction: ltr !important;
    }

    [dir=rtl] & {
        direction: rtl !important;
    }
}

.background {
    position: relative;

    [dir=ltr] & {
        left: 0px;
    }

    [dir=rtl] & {
        right: 0px;
    }

    display: flex;
    align-items: center;
    border-left: 1px solid transparent;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid var(--border-color);
    height: 100%;
    flex: 1;
}

.background:hover {
    background: var(--info-background) !important;
    border: 1px solid var(--border-highlight);
}

.icons {
    position: relative;

    [dir=ltr] & {
        left: 0px;
    }

    [dir=rtl] & {
        right: 0px;
    }

    display: flex;
    align-items: center;
    height: 100%;
    position: absolute;
    background: transparent;
}

.icons>* {
    margin-left: 0.3em;
    margin-right: 0.3em;
}