.speedDial {
    position: fixed;
    bottom: 2em;
    right: 2em;
    z-index: 200;
}

.speedDialRtl {
    position: fixed;
    bottom: 2em;
    left: 2em;
}


.tooltip {
    width: 10em;
}

.fab {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3em;
    height: 3em;
}

.icon {
    width: 3.5em;
    height: 3.5em;
}