.root {
    padding: 0.5em;
    border: 1px solid var(--main-border);
    border-radius: 0.5em;
    display: flex;
    align-items: center;
}

.root>*:not(:last-child) {
    margin-left: 0.25em;
    margin-right: 0.25em;
}

.error {
    color: var(--error-color);
    background-color: var(--error-background);
}

.info {
    color: var(--info-color);
    background-color: var(--info-background);
}

.message {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    flex: 1;
}