.root {
    padding-left: 0.4em;
    padding-right: 0.4em;
    display: flex;
    align-items: center;
    height: 4em;
    border: 1px solid var(--hover-fill);
    box-sizing: border-box;
}

.root>*:not(:last-child) {
    margin-left: 0.25em;
    margin-right: 0.25em;
}

.error {
    color: var(--error-color);
    background-color: var(--error-background);
}

.info {
    color: var(--info-color);
    background-color: var(--info-background);
}

.message {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    flex: 1;
}