.root {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 2000;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.visible {
    opacity: 1;
}

.icon {
    font-size: 5rem;
    color: var(--text-color);
    background: rgba(var(--background-color-rgb), 0.7);
    border-radius: 50%;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    display: flex;
}

@keyframes slideRight {
    0% {
        transform: translateX(-50px) scale(0.5);
        opacity: 0;
    }

    100% {
        transform: translateX(0) scale(1);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(50px) scale(0.5);
        opacity: 0;
    }

    100% {
        transform: translateX(0) scale(1);
        opacity: 1;
    }
}

.visible[data-direction='left'] .icon {
    animation: slideRight 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

.visible[data-direction='right'] .icon {
    animation: slideLeft 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}