.root {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.visible {
    opacity: 1;
}

.icon {
    font-size: 5rem;
    color: var(--text-color);
    background: rgba(var(--background-color-rgb), 0.7);
    border-radius: 50%;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    display: flex;
}