.root {
    position: fixed;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
    z-index: 2000;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.visible {
    opacity: 0.6;
}

.icon {
    font-size: 2.5rem;
    color: var(--text-color);
    background: rgba(var(--background-color-rgb), 0.4);
    border-radius: 50%;
    padding: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    display: flex;
}

@keyframes slideRight {
    0% {
        transform: translateX(-30px) scale(0.7);
        opacity: 0;
    }

    100% {
        transform: translateX(0) scale(1);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(30px) scale(0.7);
        opacity: 0;
    }

    100% {
        transform: translateX(0) scale(1);
        opacity: 1;
    }
}

.visible[data-direction='left'] .icon {
    animation: slideRight 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

.visible[data-direction='right'] .icon {
    animation: slideLeft 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}