.table {
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
}

.tableContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.tableList {
    display: flex;

    [dir=ltr] & {
        direction: ltr !important;
    }

    [dir=rtl] & {
        direction: rtl !important;
    }
}

.grid {
    display: flex;

    [dir=ltr] & {
        direction: ltr !important;
    }

    [dir=rtl] & {
        direction: rtl !important;
    }
}