@import "~include-media/dist/_include-media.scss";

.cell.head {
    background-color: var(--main-background) !important;
}

.cell {
    font-size: 16px;

    [dir=ltr] & {
        text-align: left;
    }

    [dir=rtl] & {
        text-align: right;
    }
}

.cell[dir=ltr] {
    text-align: left;
}

.cell[dir=rtl] {
    text-align: right;
}

.rowHover {
    cursor: pointer;
    user-select: none;
}

.sortLabel {
    [dir=rtl] & {
        justify-content: flex-end;
    }

    [dir=ltr] & {
        justify-content: flex-start;
    }
}