.root {
    display: flex;
    align-items: center;
    height: 2em;
    width: fit-content;
}

.fields {
    display: flex;
    flex-direction: column;
}

.root>*:not(:last-child) {
    [dir=rtl] & {
        margin-left: 1em;
    }

    [dir=ltr] & {
        margin-right: 1em;
    }
}

.name {
    display: flex;
    flex: 1;
    font-weight: bold;
    white-space: nowrap;
}

.concept {
    display: flex;
    font-size: 75%;
    white-space: nowrap;
}

.label {
    font-weight: bold;
    white-space: nowrap;

    [dir=rtl] & {
        margin-left: 1em;
    }

    [dir=ltr] & {
        margin-right: 1em;
    }
}

.tooltip {
    font-size: initial !important;
    padding: 0.5em;
}

.field {
    white-space: nowrap;
    padding: 0.5em;
}