.row {
    display: flex;
    align-items: center;
    align-self: flex-start;
    padding-top: 0.2em;
}

.label {
    display: flex;
    flex-direction: column;
}

.row>*:not(:last-child) {
    [dir=rtl] & {
        margin-left: 1em;
    }

    [dir=ltr] & {
        margin-right: 1em;
    }
}

.name {
    display: flex;
    flex: 1;
    font-weight: bold;
    white-space: nowrap;
}

.explanation {
    display: flex;
    font-size: 75%;
    white-space: nowrap;
}