.root button {
    text-transform: none;
}

.root button:not(:last-child) {
    [dir=rtl] & {
        border-top-left-radius: 0px !important;
        border-top-right-radius: 4px !important;
        border-bottom-left-radius: 0px !important;
        border-bottom-right-radius: 4px !important;
    }
}

.root button:not(:first-child):not(:last-child) {
    [dir=rtl] & {
        border-right: 1px solid transparent !important;
        border-left: 1px solid rgba(0, 0, 0, 0.12) !important;
        margin-left: 0px;
        border-top-left-radius: 0px !important;
        border-top-right-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
    }
}

.root button:not(:first-child) {
    [dir=rtl] & {
        border-right: 1px solid transparent !important;
        border-left: 1px solid rgba(0, 0, 0, 0.12) !important;
        margin-left: 0px;
        border-top-left-radius: 4px !important;
        border-top-right-radius: 0px !important;
        border-bottom-left-radius: 4px !important;
        border-bottom-right-radius: 0px !important;
    }
}