.gridThumbnail {
    grid-row: 3 / 7;
    grid-column: 1 / 6;
}

.gridName {
    grid-row: 2/ 3;
    grid-column: 1 / 6;
    z-index: 1;
    padding-left: 0.5em;
    padding-right: 0.5em;
    background-color: var(--bar-background);
    color: var(--text-color);
    border-bottom: 1px solid var(--border-color);
}

.gridDate {
    grid-row: 7/ 8;
    grid-column: 1 / 3;
    background-color: var(--chrome-background);
    z-index: 1;
    font-weight: bold;
    border-radius: 0em 0em 0em 0.5em;
}

.gridDuration {
    grid-row: 7/ 8;
    grid-column: 3 / 6;
    background-color: var(--chrome-background);
    z-index: 1;
    border-radius: 0em 0em 0.5em 0em;
}

.gridGroup {
    grid-row: 1/ 2;
    grid-column: 1 / 6;
    background-color: var(--overlay);
    z-index: 1;
    border-radius: 0.5em 0.5em 0em 0em;
}

.gridGroupSelected {
    border: 1px solid var(--selected-color);
}

.gridItem {
    grid-template-rows: 2.5em 2.5em 4em 2em 2em 2.5em 2.5em;
    grid-template-columns: 25% 25% 20% 15% 15%;
    margin-left: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 1.3em;
    border: 1px solid var(--border-color);
    box-shadow: 0 2px 4px 0 var(--box-shadow-color);
    border-radius: 0.5em;
}

.listItem {
    grid-template-columns: auto minmax(4em, 10%) 7em 8em;
}

.listPhoneItem {
    grid-template-columns: auto minmax(4.5em, 10%) 8em;
}

.labelName {
    min-width: 0;
}

.labelName.grid {
    justify-content: center;
    flex: 1;
}

.labelText.singleLine {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}

.percentageContainer {
    width: 80px;
    border: 1px solid transparent;
    height: 0.2em;
    margin: 0.1em;
}

.percentageContainer.visible {
    border: 1px solid var(--text-color);
}

.percentage {
    background-color: var(--text-color);
    width: 0%;
    height: 0.1em;
}

.icon {
    position: relative;
    cursor: pointer;
    height: 100%;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.icon.active {
    background: var(--info-background) !important;
}

.ai {
    position: absolute;
    margin-left: 0.3em;
    vertical-align: middle;
    bottom: 5px;
    right: 5px;
    transform: scale(0.5);
}

.ai.altIcon {
    transform: scale(1);
    bottom: 10px;
    right: 10px;
}

.ai.video {
    filter: invert(1);
}

.ai.video:not(.altIcon) {
    bottom: 10px;
}

.ai:not(.video):not(.altIcon) {
    transform: scale(0.5) translate(50%, 50%);
}