.root {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-color: var(--background);
    color: var(--text-color);
}

.transcript {
    flex: 1;
    overflow-y: auto;
    padding: 1em;
}

.line {
    display: flex;
    padding: 0.5em;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 0.5em;
}

.line:hover {
    background-color: var(--hover-color);
    color: var(--select-text-color);
}

.current {
    background-color: var(--select-color) !important;
    color: var(--select-text-color);
}

.time {
    font-family: monospace;
    opacity: 0.7;
    margin-right: 1em;
    min-width: 5em;
}

.text {
    flex: 1;
    white-space: pre-wrap;
}

.controls {
    display: flex;
    align-items: center;
    width: 100%;
    border-top: 1px solid var(--border-color);
    background-color: var(--background);
    padding-left: 10%;
    padding-top: 1em;
}