@import "~include-media/dist/_include-media.scss";

.root {
    display: grid;
    height: 100vh;
    grid-template: 4em auto 3em / 15em auto;

    .menu {
        grid-template: 4em auto 3em / 30em auto;
    }

    @include media(">phone", "<=tablet") {
        .menu {
            grid-template: 3em auto 3em / auto 0em;
        }

        grid-template: 3em auto 3em / 0em auto;
    }
}

.rootWithMenu {
    display: grid;
    height: 100vh;
    grid-template: 4em auto 3em / 30em auto;

    @include media(">phone", "<=tablet") {
        grid-template: 3em auto 3em / auto 0em;
    }
}

.main {
    background: var(--main-background);
    grid-column: 2 / 2;
    margin: 0.5em;
}