@import "~include-media/dist/_include-media.scss";

.root {
    display: grid;
    height: 100vh;
    grid-template: 4em auto 3em / 0em auto;

    @include media("<=tablet") {
        grid-template: 3em auto 3em / 0em auto;
    }
}

.root.sidebar.list {
    grid-template: 4em auto 3em / 15em auto;

    @include media("<=tablet") {
        grid-template: 3em auto 3em / auto;
    }
}

.root.sidebar.iconList {
    grid-template: 4em auto 3em / 30em auto;

    @include media("<=tablet") {
        grid-template: 3em auto 3em / auto;
    }
}

.main {
    background: var(--main-background);
    grid-column: 2 / 2;
    display: grid;
    grid-template-rows: 4em auto;
    overflow: hidden;
}

.pageContainer {
    display: grid;
    grid-template-rows: auto;
    overflow: auto;
}

.page {
    display: flex;
    flex-direction: column;
}