.affectedCaption {
	margin-top: 8px;
}

.deleteArticlesHighlight {
	margin-top: 16px;
	padding: 16px;
	background-color: rgba(var(--error-color-rgb), 0.12);
	color: var(--error-color);
	border-radius: 4px;
}

.deleteArticlesCaption {
	margin-top: 8px;
	opacity: 0.9;
}

.errorBoxText {
	opacity: 0.9;
}
