.root {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
}

.root:hover {
    outline: 1px solid var(--hover-color);
}

.title {
    display: flex;
}

.day {
    color: var(--text-color);
    margin: 0.5em;
    width: 2em !important;
    height: 2em !important;
    font-size: 100% !important;
    background-color: var(--main-background) !important;
    color: var(--text-color) !important;
}

.day.today {
    font-weight: bold;
    color: var(--inverse-text-color) !important;
    background-color: var(--hover-fill) !important;
}

.day:not(.active) {
    opacity: 0.5;
}