@import "../../../scss/mixins";

.root {
    display: flex;
    flex-direction: column;
    border-left: 1px solid transparent;
    border-top: 1px solid transparent;
    padding: 0.25em;
    min-width: 1em;
    min-height: 5.5em;
    position: relative;
}

.root:not(.lastColumn) {
    border-right: 1px solid var(--border-color);
}

.root:not(.lastRow) {
    border-bottom: 1px solid var(--border-color);
}

.title {
    display: flex;
}

.day {
    color: var(--text-color);
    margin-right: 0.25em;
    margin-bottom: 0.25em;
    width: 2em !important;
    height: 2em !important;
    font-size: 100% !important;
    background-color: var(--main-background) !important;
    color: var(--text-color) !important;
    transition: all 0.2s ease;
}

.day:hover {
    background-color: var(--primary-500) !important;
    color: white !important;
    transform: scale(1.1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.day.today {
    font-weight: bold;
    color: var(--inverse-text-color) !important;
    background-color: var(--hover-fill) !important;
}

.day:not(.active) {
    opacity: 0.5;
}

.sessions {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    flex: 1;
    justify-content: flex-end;
}

.session {
    color: var(--text-color);
}

.indicators {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    justify-content: flex-end;
    padding: 0.25em;
    cursor: pointer;
}

.dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.container {
    display: flex;
    flex: 1;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-end;
}

.button {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 1.5em;
    height: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5em;
    padding: 0.5em;
}

.icon {
    opacity: 0;
    transition: opacity 0.2s ease;
    color: var(--text-color);
    background: rgba(var(--text-color-rgb), 0.1);
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid var(--border-color);
}

.icon:hover:active {
    transform: scale(1.1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.root:hover .icon {
    opacity: 1;
}



.playing {
    @include playing;
}