.root {
    width: 25em;
    max-width: 100%;

    // Target the title typography to force one line
    >div:first-child> :global(.MuiTypography-root) {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        min-width: 0;
        font-size: 1rem;
    }
}

.rtl {
    direction: rtl;

    >div:first-child> :global(.MuiTypography-root) {
        text-align: right;
    }
}

.list {
    width: 100%;
    height: 50vh;
    overflow-y: scroll;
}