.root {

    // Target the title typography to force one line
    >div:first-child> :global(.MuiTypography-root) {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        min-width: 0;
        font-size: 1.1rem;
    }
}

.list {
    width: 100%;
    height: 50vh;
    overflow-y: auto;
}