.root {
    width: 30em;
    max-width: 100%;
    max-height: 80vh;

    >div:first-child> :global(.MuiTypography-root) {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        min-width: 0;
        font-size: 1rem;
    }

    // Override Dialog's content padding
    :global(.MuiDialogContent-root) {
        padding: 0;
    }
}

.rtl {
    direction: rtl;

    >div:first-child> :global(.MuiTypography-root) {
        text-align: right;
    }
}

.list {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 1em;
    overflow-y: auto;
    flex: 1;
    min-height: 0;
}