.root {
    display: flex;
    flex-wrap: wrap;
}

.item {
    margin: 1em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    color: var(--text-color);
    border-radius: 0.5em;
    border: 1px solid transparent;
    align-items: center;
    justify-content: center;
}

.item:hover {
    border: 1px solid var(--info-color);
}

.item:hover:active {
    background-color: var(--info-background);
}

.icon {
    display: flex;
}

.label {
    display: flex;
    user-select: none;
}