.listItem {
    grid-template-columns: 1fr 1fr;
}

.listItemWithProgress {
    grid-template-columns: 1fr 1fr 1fr;
}

.animated {
    animation: spin 4s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}