.animated {
    animation: spin 4s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.picker {
    right: 17em;
}

.listItem {
    grid-template-columns: 1fr 6em;
}

.listItemWithProgress {
    grid-template-columns: 1fr 6em 6em;
}