.root {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.img {
    margin: 10px;
    object-fit: contain;
    overflow: hidden;
    border: 1px solid var(--border);
}