.root {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: var(--background-paper);
    position: relative;
    padding: 0.5rem;
}

/* Use :global to target the tags inside your hashed class */
.markdown :global(p) {
    font-size: 1.05rem;
    line-height: 1;
}

.markdown :global(br) {
    display: block;
    content: "";
    margin-top: 1.5rem;
    /* This is your line spacing */
}

.markdown :global(h1),
.markdown :global(h2),
.markdown :global(h3) {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.markdown :global(li) {
    margin-bottom: 2rem;
}