@use "../scss/mixins" as *;

.root {
    display: flex;
    flex-direction: column;
    color: var(--text-color);
}

.playerIcon {
    @include playing;
}

.playingSessionName {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}