.root {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.content {
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    width: 100%;
    height: 100%;
}

.content.mobile {
    width: 100vw;
}