.root {
    display: flex;
    color: var(--text-color);
    flex-direction: column;
    overflow: hidden;
}

.info {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 1em;
}

.metadata {
    width: 80vw;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.set {
    margin-bottom: 0.5em;
    overflow: hidden;
    min-width: 0;
}

.name {
    display: flex;
    font-weight: bold;
    user-select: none;
}

.value {
    margin-top: 0.5em;
    display: flex;
    min-width: 0;
    user-select: none;
}

.text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}