.gridThumbnail {
    grid-row: 2 / 3;
    grid-column: 1 / 4;
}

.gridName {
    grid-row: 1/ 2;
    grid-column: 1 / 4;
}

.gridDate {
    grid-row: 3/ 4;
    grid-column: 1 / 2;
}

.gridDuration {
    grid-row: 4/ 5;
    grid-column: 1 / 2;
    font-size: 75%;
}

.gridGroup {
    grid-row: 3/ 5;
    grid-column: 2 / 3;
}

.gridItem {
    grid-template-rows: 1fr auto 0.5fr 0.5fr;
    grid-template-columns: 54% 46%;
    margin-left: 0.5em;
    margin-top: 0.5em;
    border: 1px solid var(--border-color);
    box-shadow: 0 2px 4px 0 var(--box-shadow-color);
}

.listItem {
    grid-template-columns: auto minmax(4em, 10%) 7em 7em;
}

.listPhoneItem {
    grid-template-columns: auto minmax(4em, 10%) 7em;
}

.labelName {
    min-width: 0;
}

.labelName.grid {
    justify-content: center;
    flex: 1;
}

.labelText.singleLine {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}