.root {
	display: flex;
	flex-direction: column;
	flex: 1;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	background:
		linear-gradient(
			to bottom,
			rgba(var(--primary-color-rgb), 0.04),
			transparent 10rem
		),
		var(--main-background);
	padding: 0.75rem;
}

.grid {
	display: grid;
	flex: 1;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: 4em auto;
	gap: 0.5rem;
	min-height: 100%;
}

.grid.mobile {
	grid-template-columns: repeat(7, 150px);
	width: max-content;
	min-width: 100%;
}

.input {
	margin-left: 0em;
	margin-right: 0em;
}

.weekInput {
	min-width: 4em;
}

.monthInput {
	min-width: 9em;
}

.monthInputPhone {
	min-width: 5em;
}

.yearInput {
	min-width: 6em;
}
