.root {
    display: flex;
    flex: 1;
}

.item {
    display: grid;
    color: var(--text-color);
    background-color: var(--main-background);
    box-sizing: border-box;
    min-width: 0;
    overflow: hidden;
    flex: 1;
}

.item.selected {
    background: var(--info-background) !important;
}

.item.even {
    background-color: var(--main-background-alternative);
}

.cell {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.cell.list.padding {
    padding-left: 1em;
    padding-right: 1em;
}

.cell.defaultAlign {
    [dir=ltr] & {
        text-align: left;
    }

    [dir=rtl] & {
        text-align: right;
    }
}

.ellipsisText {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.cell.head {
    background: var(--main-background) !important;
}

.selectable {
    cursor: pointer !important;
    border-bottom: 2px solid transparent;
    user-select: none;
}

.selectable:hover {
    background: var(--info-background) !important;
    border-bottom: 2px solid var(--hover-color);
}

.cell.selected {
    background: var(--info-background) !important;
}