.root {
    display: flex;
    flex: 1;
}

.item {
    display: grid;
    color: var(--text-color);
    border-bottom: 1px solid var(--border-color);
    box-sizing: border-box;
    user-select: none;
    min-width: 0;
    overflow: hidden;
    flex: 1;
}

.cell {
    padding-left: 1em;
    padding-right: 1em;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.cell.defaultAlign {
    [dir=ltr] & {
        text-align: left;
    }

    [dir=rtl] & {
        text-align: right;
    }
}

.ellipsisText {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.cell.head {
    background: var(--main-background) !important;
}

.selectable {
    cursor: pointer !important;
    border: 1px solid transparent;
}

.selectable:hover {
    background: var(--info-background) !important;
    border: 1px solid var(--border-highlight);
}

.selected {
    background: var(--info-background) !important;
}