.root {
    display: flex;
    flex: 1;
}

.item {
    display: grid;
    color: var(--text-color);
    box-sizing: border-box;
    min-width: 0;
    overflow: hidden;
    flex: 1;
    padding: 4px;
}

.item {
    background-color: var(--main-background);
}

.item.separator {
    border-top: 2px solid var(--neutral-700);
}

.item.selected {
    background: var(--selected-color) !important;
}

.item.even {
    background-color: var(--main-background-alternative);
}

.cell {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.cell.grid {
    white-space: nowrap;
}

.cell.list.padding {
    padding-left: 1em;
    padding-right: 1em;
}

.cell.defaultAlign {
    [dir=ltr] & {
        text-align: left;
    }

    [dir=rtl] & {
        text-align: right;
    }
}

.ellipsisText {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.cell.head {
    background: var(--main-background) !important;
    font-weight: 600;
    color: var(--neutral-500);
}

.selectable {
    cursor: pointer !important;
    user-select: none;
}

.selectable:hover {
    background: var(--hover-color) !important;
}

.cell.selected {
    background: var(--selected-color) !important;
}