.root {
    position: sticky !important;
    z-index: 2;
    display: flex;
    flex: 1;
}

.item {
    display: grid;
    color: var(--text-color);
    background-color: var(--main-background);
    box-sizing: border-box;
    min-width: 0;
    overflow: hidden;
    flex: 1;
}

.cell {
    display: flex;
    align-items: center;
    overflow: hidden;
    padding-left: 1em;
    padding-right: 1em;
    font-weight: bold;
}

.cell.defaultAlign {
    [dir=ltr] & {
        text-align: left;
    }

    [dir=rtl] & {
        text-align: right;
    }
}

.cell.head {
    background: var(--main-background) !important;
}