.pageIndex {
    font-weight: bold !important;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-left: 0.5em !important;
    margin-right: 0.5em !important;
    width: 5em;
    color: var(--text-color);
}

.pageSeparator {
    font-weight: bold !important;
    pointer-events: none;
    cursor: default;
    user-select: none;
    color: var(--text-color);
}

.pageCount {
    cursor: default;
    user-select: none;
    padding-left: 0.5em;
    padding-right: 0.5em;
    color: var(--text-color);
}