.cell {
    font-size: 16px;
    padding: 0em !important;
    border: none !important;
}

.cell.separator {
    border-top: 2px solid var(--neutral-300) !important;
}

.cell.padding {
    padding-left: 0.5em !important;
    padding-right: 0.5em !important;
}

.cell.head {
    background: var(--main-background) !important;
}

.cell.defaultAlign {
    [dir=ltr] & {
        text-align: left;
    }

    [dir=rtl] & {
        text-align: right;
    }
}

.selectable {
    cursor: pointer !important;
    border-bottom: 2px solid transparent !important;
}

.selectable:hover {
    background: var(--info-background) !important;
    border-bottom: 2px solid var(--hover-color) !important;
}

.row {
    background-color: var(--main-background);
}

.row.even {
    background-color: var(--main-background-alternative);
}

.row.separator {
    border-top: 2px solid var(--neutral-300);
}

.row.hover {
    cursor: pointer;
    user-select: none;
}

.cell.selected {
    background: var(--info-background) !important;
}

.row.selected {
    background: var(--info-background) !important;
}