.cell {
    font-size: 16px;
    border: 1px solid transparent;
    padding-top: 0em !important;
    padding-bottom: 0em !important;
    padding-left: 1em !important;
    padding-right: 1em !important;
}

.cell.head {
    background: var(--main-background) !important;
}

.cell.defaultAlign {
    [dir=ltr] & {
        text-align: left;
    }

    [dir=rtl] & {
        text-align: right;
    }
}

.selectable {
    cursor: pointer !important;
    border: 1px solid transparent;
}

.selectable:hover {
    background: var(--info-background) !important;
    border: 1px solid var(--border-highlight);
}

.row.hover {
    cursor: pointer;
    user-select: none;
}

.cell.selected {
    background: var(--info-background) !important;
}

.row.selected {
    background: var(--info-background) !important;
}