.headerRow {
    display: flex;
}

.cell {
    font-size: 16px;
    border: 1px solid transparent !important;
    padding: 0.4em !important;
}

.cell.head {
    background: var(--main-background) !important;
}

.cell.defaultAlign {
    [dir=ltr] & {
        text-align: left;
    }

    [dir=rtl] & {
        text-align: right;
    }
}

.selectable {
    cursor: pointer !important;
}

.selectable:hover {
    background: var(--info-background) !important;
    border: 1px solid var(--border-highlight);
}

.sortLabel {
    [dir=rtl] & {
        justify-content: flex-end;
    }

    [dir=ltr] & {
        justify-content: flex-start;
    }
}