.root {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.root.border {
    border-bottom: 1px solid var(--border-color);
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.row {
    display: flex;
    align-items: center;
    flex: 1;
}

.breadcrumbs {
    display: flex;
    align-items: center;
    flex: 1;
    color: var(--text-color);
    overflow: hidden;
}

.divider {
    margin-left: 0.3em !important;
    margin-right: 0.3em !important;
}

.item {
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 3.70em;
    min-width: 3em;
    max-width: 30em;
    user-select: none;
}

.name {
    color: var(--text-color);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
}

.icon {
    margin-top: 0.2em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.iconButton {
    [dir=ltr] & {
        margin-right: 0.1em;
    }

    [dir=rtl] & {
        margin-left: 0.1em;
    }
}