.root {
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    background-color: var(--footer-background);
    border-radius: 0.5em;
    margin: 0.5em;
}