.root {
    padding-left: 0.5em;
    padding-right: 0.5em;
    height: 4em;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    justify-content: center;
}

.toolbar {
    background-color: var(--header-background);
    border-radius: 0.5em 0.5em 0 0;
}