.root {
    border-bottom: 1px solid var(--border-color);
    display: flex;
    overflow: hidden;
    background-color: var(--header-background);
    box-sizing: border-box;
}

.toolbar {
    width: 100%;
    justify-content: flex-end;
}