.root {
    display: flex;
    overflow: hidden;
    background-color: var(--chrome-background);
    box-sizing: border-box;
    border-radius: 0.5em;
    margin: 0.5em;
}

.toolbar {
    width: 100%;
    justify-content: flex-end;
}

@media (max-width: 768px) {
    .toolbar {
        justify-content: flex-start;
    }
}
