.root {
    border-bottom: 1px solid var(--border-color);
    padding-left: 0.5em;
    padding-right: 0.5em;
    height: 4em;
    display: flex;
    overflow: hidden;
    background-color: var(--header-background);
    box-sizing: border-box;
    justify-content: flex-end;
}

.toolbar {
    min-width: 0;
}