.root {
    width: 100%;
    height: 100vh;
    height: 100dvh;
    background-image: radial-gradient(circle 465px at -15.1% -25%, rgba(17, 130, 193, 1) 0%, rgba(67, 166, 238, 1) 49%, rgba(126, 203, 244, 1) 90.2%);
    padding: 25%;
}

.progress {
    width: 50%;
    height: auto;
    border-radius: 8px;
    border: 1px solid darkblue;
}