@import "~include-media/dist/_include-media.scss";

.root {
    display: grid;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    grid-template: 4em auto / 0em auto;

    @include media("<=tablet") {
        grid-template: auto / 0em auto;
    }
}

.root.sidebar.list {
    grid-template: 4em auto / 15em auto;

    @include media("<=tablet") {
        grid-template: auto / auto;
    }
}

.main {
    background: var(--main-background);
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: auto 4em;
    overflow: hidden;
}

.bar {
    grid-column: 1/ 3;
}