@import "~include-media/dist/_include-media.scss";

.root {
    display: grid;
    height: 100vh;
    grid-template: 4em auto / 0em auto;

    @include media("<=tablet") {
        grid-template: 4em auto / 0em auto;
    }
}

.root.sidebar.list {
    grid-template: 4em auto / 11em auto;

    @include media("<=tablet") {
        grid-template: 4em auto / auto;
    }
}

.root.sidebar.iconList {
    grid-template: 4em auto / 30em auto;

    @include media("<=tablet") {
        grid-template: 4em auto / auto;
    }
}

.main {
    background: var(--main-background);
    grid-column: 2 / 2;
    display: grid;
    grid-template-rows: 4.05em auto;
    overflow: hidden;
}