.root {
    display: grid;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    grid-template-rows: 4em auto;
    grid-template-columns: 0em 1fr;
    transition: grid-template-columns 0.3s ease-in-out;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: var(--text-color);
    background-color: var(--main-background);
}

.rtl {
    direction: rtl;
}

.root.sidebar {
    grid-template-columns: 16em 1fr;
    /* Increased width slightly for better readability */
}

.root.mobile {
    grid-template-columns: auto;
}

.main {
    background: var(--main-background);
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex: 1;
}

.main.mobile {
    grid-column: 1 / 3;
}