.search {
    display: flex;
    position: relative;
    border-radius: 0.5em;
    background-color: var(--main-background);
    margin-left: 0.5em;
    margin-right: 0.5em;
    height: 3em;
    width: 3em;
    transition: width 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    overflow: hidden;
}

.searchExpanded {
    width: 10em;
    cursor: text;
}

.searchIcon {
    padding: 0.5em;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--input-icon-color);
}

.inputRoot {
    color: inherit;
    margin: 0.3em;
    width: 100%;
    opacity: 0;
    transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.searchExpanded .inputRoot {
    opacity: 1;
}

@media (max-width: 768px) {
    .searchExpanded {
        width: 10em;
    }
}