.root {
    background-color: var(--side-bar-background);
    grid-column: 1 / 2;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--border-color);
    transition: width 0.3s ease;
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 16rem;
    background-color: transparent;
    padding: 0.5rem 0;
}

.popupDrawer {
    :global(.MuiPaper-root) {
        width: 18rem;
        background-color: var(--side-bar-background);
        border-radius: 0 16px 16px 0;
        box-shadow: 10px 0 30px rgba(0, 0, 0, 0.1);
    }
}