.root {
    background: var(--side-bar-background);
    grid-column: 1 / 2;
    overflow: auto;
    display: flex;
    flex-direction: column;

    [dir=ltr] & {
        border-right: 1px solid var(--border-color);
        box-shadow: 10px 0 10px -10px var(--box-shadow-color);
    }

    [dir=rtl] & {
        border-left: 1px solid var(--border-color);
        box-shadow: -10px 0 10px -10px var(--box-shadow-color);
    }
}

.popupDrawer {
    width: 15em;
}