.toolbar {
    display: flex;
    align-items: center;
}

.toolbar.visible {
    height: 4em;
    padding: 0.5em;
}

.divider {
    margin-left: 0.3em !important;
    margin-right: 0.3em !important;
}

.hidden {
    visibility: hidden;
    margin-left: 0.1em !important;
    margin-right: 0.1em !important;
}