.root {
    display: flex;
    flex-direction: column;
    padding: 1em;
    flex: 1;
    overflow-y: auto;
}

.title {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1em;
    color: var(--text-color);
}

.list {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.empty {
    text-align: center;
    color: var(--neutral-500);
    margin-top: 2em;
    font-size: 1.2em;
}