.root {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.grid {
    display: grid;
    flex-direction: column;
    flex: 1;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 3em repeat(6, 1fr);
    overflow: auto;
}

.input {
    margin-left: 0em;
    margin-right: 0em;
}