.root {
    display: flex;
    flex-direction: column;
    flex: 1;
    user-select: none;
    overflow: auto;
}

.grid {
    display: grid;
    flex: 1;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 4em auto;
    column-gap: 3px;
}

.input {
    margin-left: 0em;
    margin-right: 0em;
}