.root {
	display: flex;
	overflow: hidden;
	box-sizing: border-box;
	align-items: center;
	background-color: rgba(var(--bar-background-rgb), 0.04);
	backdrop-filter: blur(24px);
	border: 1px solid rgba(255, 255, 255, 0.06);
	border-radius: 16px;
	margin: 1rem auto;
	padding: 0 0.75rem;
	width: fit-content;
	max-width: calc(100% - 2rem);
	height: 4rem;
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.04);
	position: fixed;
	bottom: 1rem;
	left: 0;
	right: 0;
	z-index: 100;

	&:hover,
	&:focus-within {
		background-color: rgba(var(--bar-background-rgb), 0.68);
		border-color: rgba(255, 255, 255, 0.1);
		box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.1);

		.footer {
			opacity: 1;
		}
	}

	@media (max-width: 768px) {
		position: fixed;
		margin: 0;
		bottom: 0px;
		left: 0;
		border-radius: 0;
		border-left: none;
		border-right: none;
		border-bottom: none;
		background: var(--footer-background);
		border-top: 1px solid rgba(255, 255, 255, 0.1);
		width: 100%;
		max-width: 100%;
		padding: 0 0.5rem;

		.footer {
			opacity: 1;
		}
	}

	transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);

	[dir="rtl"] & {
		flex-direction: row-reverse;
	}
}

.root.relative {
	position: fixed;

	@media (max-width: 768px) {
		position: relative;
	}
}

.footer {
	display: flex;
	flex: 1;
	justify-content: center;
	opacity: 0.48;
	transition: opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.footer.spaced {
	justify-content: space-between;
}

.mobile {
	display: flex;
	justify-content: flex-end;
	margin-right: 0.5rem;
}
