.root {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    position: relative;
}

.name {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    justify-self: flex-start;
    --webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}