.root {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 0;
    pointer-events: none;
}

.video::cue {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 1em;
    line-height: 1.3;
    padding: 0.5em;
}

.group {
    z-index: 1;
    pointer-events: none;
}

.name {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    justify-self: flex-start;
    --webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    z-index: 1;
    pointer-events: none;
}