.root {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border-color);
    background-color: var(--main-background);
    color: var(--text-color);
    padding: 0.5em;
    height: 5.5em;
    width: 5.5em;
    margin: 0.5em;
    justify-items: center;
    align-items: center;
}

.root.active {
    border-bottom: 2px solid var(--info-color);
}

.root:hover {
    border: 1px solid var(--hover-color);
}

.root:hover:active {
    color: var(--hover-color);
    background-color: var(--hover-fill);
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 6px;
}

.label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    user-select: none;
    font-size: 85%;
    margin-top: 6px;
}

.subHeading {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    user-select: none;
    font-size: 75%;
    margin-top: 0.3em;
}