.toolbar {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.progress {
    justify-content: center;
    display: flex;
}

.progressLine {
    display: flex;
    height: 4em;
    border: 1px solid var(--border-color);
    margin-bottom: 0.5em;
    background-color: var(--main-background);
    color: var(--text-color);
    overflow: hidden;
    position: relative;
    width: 100%;
    direction: ltr;
}

.progressBack {
    display: flex;
    height: 4em;
    position: absolute;
    width: 100%;
}

.progressPlayed {
    display: flex;
    height: 4em;
    position: absolute;
    background-color: var(--hover-color);
    opacity: 0.5;
    pointer-events: none;
}

.progressPosition {
    display: flex;
    width: 0.4em;
    height: 4em;
    position: absolute;
    background-color: var(--hover-fill);
    border: 1px solid var(--hover-color);
    opacity: 0.5;
    pointer-events: none;
}

.progressText {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-variant-numeric: tabular-nums;
    pointer-events: none;
    user-select: none;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}

.buttons>* {
    width: 5em;
}

.avatar {
    font-size: 100% !important;
    background-color: var(--hover-fill) !important;
}

.error {
    position: fixed;
    top: 0px;
    z-index: 1000;
    user-select: none;
}

.error>* {
    margin-left: 0.25em !important;
    margin-right: 0.25em !important;
}