.root {
    width: 100%;
    background-color: var(--paper-background);
    padding: 1em 2em;
    border-bottom: 1px solid var(--border-color);
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: center;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2);
}

.sliderContainer {
    width: 100%;
    max-width: 800px;
}
