.root {
    width: 100%;
    background-color: var(--paper-background);
    padding: 1em 2em;
    position: relative;
    z-index: 1300; // MUI AppBar default is 1100, Tabs typically use similar values
    display: flex;
    justify-content: center;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2);
    border-top: 1px solid var(--border-color);
    overflow: visible;
    height: 120px;
    align-items: flex-end;
}

.sliderContainer {
    margin-left: 50px;
    margin-right: 50px;
    width: 100%;
}