@use "colors.scss";

::cue,
video::cue,
video::-webkit-media-text-track-display,
video::-webkit-media-text-track-container {
  background-color: var(--cue-background) !important;
  background: var(--cue-background) !important;
  background-image: none !important;
  color: var(--cue-color) !important;
  opacity: 1 !important;
  text-shadow: none !important;
  box-shadow: none !important;
  font-size: 1em;
  line-height: 1.3;
}

body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  font-family: system-ui, sans-serif;
  overflow: hidden;
}

#__next {
  padding: 0px;
  margin: 0px;
  height: 100%;
  font-family: system-ui, sans-serif;
  overflow: hidden;
}