@import "colors.scss";
@import "~include-media/dist/_include-media.scss";
@import 'include-media-export';

body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  font-family: system-ui, sans-serif;
  overflow: hidden;
}

#__next {
  padding: 0px;
  margin: 0px;
  height: 100%;
  font-family: system-ui, sans-serif;
  overflow: hidden;
}