@use "colors.scss";

body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  font-family: system-ui, sans-serif;
  overflow: hidden;
}

#__next {
  padding: 0px;
  margin: 0px;
  height: 100%;
  font-family: system-ui, sans-serif;
  overflow: hidden;
}