:root {
    --border-color: 1px solid lightgray;
    --box-shadow-color: rgba(0, 0, 0, .2);
    --main-background: #fafafa;
    --main-border: lightgray;
    --app-bar-background: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    --status-bar-background: radial-gradient(circle farthest-corner at 10% 20%, rgba(234, 249, 249, 0.67) 0.1%, rgba(239, 249, 251, 0.63) 90.1%);
    --side-bar-background: #fafafa;
}