:root {
    --border: 1px solid lightgray;
    --border-highlight: 1px solid black;
    --border-focus: 2px solid black;
    --box-shadow-color: rgba(0, 0, 0, .2);
    --main-background: #fafafa;
    --main-border: lightgray;
    --app-bar-background: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    --action-background: radial-gradient(circle farthest-corner at 10% 20%, rgba(234, 249, 249, 0.67) 0.1%, rgba(239, 249, 251, 0.63) 90.1%);
    --action-border: 2px solid #8EC5FC;
    --side-bar-background: #fafafa;
    --text-color: black;
}

[data-theme="dark"] {
    --border: 1px solid rgba(255, 255, 255, 0.12);
    --border-highlight: 1px solid white;
    --border-focus: 2px solid white;
    --box-shadow-color: darkgray;
    --main-background: #161625;
    --main-border: darkgray;
    --app-bar-background: radial-gradient(circle farthest-corner at 10% 20%, rgba(0, 52, 89, 1) 0%, rgba(0, 168, 232, 1) 90%);
    --action-background: linear-gradient(110.3deg, rgba(72, 85, 99, 1) 8.8%, rgba(127, 146, 166, 1) 95.1%);
    --action-border: 2px solid rgba(0, 168, 232, 1);
    --side-bar-background: #161625;
    --text-color: white;
}