:root {
    --border: lightgray;
    --border-color: lightgray;
    --border-highlight: black;
    --border-focus: 2px solid black;
    --box-shadow-color: rgba(0, 0, 0, .2);
    --main-background: white;
    --main-border: lightgray;
    --app-bar-background: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    --action-background: radial-gradient(circle farthest-corner at 10% 20%, rgba(234, 249, 249, 0.67) 0.1%, rgba(239, 249, 251, 0.63) 90.1%);
    --dialog-border: 2px solid #8EC5FC;
    --side-bar-background: #fafafa;
    --text-color: black;
    --inverse-text-color: white;
    --inverse-main-background: black;
    --blur-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    --error-color: rgb(97, 26, 21);
    --error-background: rgb(253, 236, 234);
    --info-color: rgb(13, 60, 97);
    --info-background: rgb(232, 244, 253);
    --hover-color: #8EC5FC;
    --hover-fill: rgba(0, 168, 232, 1);
}

[data-theme="dark"] {
    --border: rgba(255, 255, 255, 0.12);
    --border-color: rgba(255, 255, 255, 0.12);
    --border-highlight: white;
    --border-focus: 2px solid white;
    --box-shadow-color: darkgray;
    --main-background: #161625;
    --main-border: darkgray;
    --app-bar-background: radial-gradient(circle farthest-corner at 10% 20%, rgba(0, 52, 89, 1) 0%, rgba(0, 168, 232, 1) 90%);
    --action-background: linear-gradient(110.3deg, rgba(72, 85, 99, 1) 8.8%, rgba(127, 146, 166, 1) 95.1%);
    --dialog-border: 2px solid rgba(0, 168, 232, 1);
    --side-bar-background: #161625;
    --text-color: white;
    --inverse-text-color: black;
    --inverse-main-background: white;
    --blur-shadow: inset 0 0 2000px rgba(0, 0, 0, .5);
    --error-color: rgb(250, 179, 174);
    --error-background: rgb(24, 6, 5);
    --info-color: rgb(166, 213, 250);
    --info-background: rgb(3, 14, 24);
    --hover-color: rgba(0, 168, 232, 1);
    --hover-fill: #8EC5FC;
}