.root {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 0.5em repeat(12, 1fr);
    color: var(--text-color);
    column-gap: 1em;
}

.world {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.world:not(:last-child) {
    border-bottom: var(--border);
}

.worldInfo {
    margin-top: 0.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    display: flex;
    align-items: center;
    align-self: flex-start;
}

.worldInfo>*:not(:last-child) {
    [dir=rtl] & {
        margin-left: 0.5em;
    }

    [dir=ltr] & {
        margin-right: 0.5em;
    }
}

.worldLabel {
    display: flex;
    flex-direction: column;
}

.worldName {
    font-weight: bold;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.worldExplanation {
    margin-top: 0.5em;
}

.divider {
    flex: 1;

    [dir=ltr] & {
        text-align: right;
    }

    [dir=rtl] & {
        text-align: left;
    }

    border-top: 1px dashed var(--border-color);
    line-height: 0.1em;
    padding-right: 1em;
    padding-left: 1em;
}

.dividerInfo {
    flex: 1;

    [dir=ltr] & {
        text-align: right;
    }

    [dir=rtl] & {
        text-align: left;
    }

    line-height: 0.1em;
    padding-right: 1em;
    padding-left: 1em;
    font-weight: bold;
}

.itemRow {
    display: flex;
    align-items: center;
    align-self: flex-start;
}

.itemLabel {
    display: flex;
    flex-direction: column;
}

.itemRow>*:not(:last-child) {
    [dir=rtl] & {
        margin-left: 0.5em;
    }

    [dir=ltr] & {
        margin-right: 0.5em;
    }
}

.itemName {
    display: flex;
    flex: 1;
    font-weight: bold;
    padding-right: 0.5em;
}

.itemSubHeading {
    display: flex;
    margin-top: 0.5em;
}

.itemType {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex: 1;
}

.face {
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0, 0.25);
}

.head {
    margin-top: 0.5em;
    border-left: var(--border-highlight);
    border-right: var(--border-highlight);
    border-top: var(--border-highlight);
    border-bottom: 1px dashed var(--text-color);
    border-radius: 0.5em 0.5em 0em 0em;
}

.head:hover {
    border: 1px solid var(--hover-color);
    background-color: var(--hover-fill);
    box-shadow: var(--blur-shadow);
}

.body {
    border-left: var(--border-highlight);
    border-right: var(--border-highlight);
    border-bottom: var(--border-highlight);
    border-radius: 0em 0em 0.5em 0.5em;
    margin-bottom: 0.5em;
}

.body:hover {
    border: 1px solid var(--hover-color);
    background-color: var(--hover-fill);
    box-shadow: var(--blur-shadow);
}