.root {
    display: grid;
    grid-auto-columns: auto;
    grid-template-rows: 1fr;
    grid-auto-rows: minmax(3.5em, max-content);
    color: var(--text-color);
    column-gap: 1em;
}

.world {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.world:not(:last-child) {
    border-bottom: 1px solid var(--border);
}

.worldInfo {
    margin: 0.25em;
    padding-left: 0.25em;
    padding-right: 0.25em;
    display: flex;
    align-items: center;
    align-self: flex-start;
}

.divider {
    flex: 1;

    [dir=ltr] & {
        text-align: right;
    }

    [dir=rtl] & {
        text-align: left;
    }

    border-top: 2px dashed var(--border-color);
    line-height: 0.1em;
    padding-right: 1em;
    padding-left: 1em;
}

.dividerInfo {
    flex: 1;
    padding-right: 1em;
    padding-left: 1em;
    margin-top: -1.5em;
}

.itemType {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex: 1;
}

.face {
    display: flex;
    flex-direction: column;
    background-color: rgb(128, 128, 128, 0.2);
    color: var(--text-color);
    box-shadow: var(--blur-shadow);
    padding: 0.25em;
}

.face.selected {
    border: 1px solid var(--border-highlight);
}

.head {
    margin-top: 0.5em;
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid transparent;
    border-radius: 0.5em 0.5em 0em 0em;
}

.body {
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    border-top: 1px solid transparent;
    border-bottom: 1px solid var(--border-color);
    border-radius: 0em 0em 0.5em 0.5em;
    margin-bottom: 0.5em;
}